@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #004589;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0;
  }
}
